@import "./mixins", "./variables";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

button {
  box-sizing: content-box;
  outline: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $sand;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $sand;
}

/*** 
  ====================================================================
  Global Settings
  ====================================================================
   ***/

#app {
  font-family: $montserrat;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $black;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
  color: $sand;
  @include transition;
}
